<div class="container">
  <h1>New list</h1>
  <div>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="footer">
    <%= link_to "My lists", lists_path %>
    <%= link_to "Movies", movies_path %>
  </div>
</div>
