<div class="container">
  <h1><%= @list.name %></h1>
    <div>
      <ul>
        <% @list.bookmarks.each do |bookmark| %>
        <li>
           <% if bookmark.photos.attached? %>
              <% bookmark.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 200, crop: :fill %>
            <% end %>
          <% end %>
          <%= link_to bookmark.movie.title, movie_path(bookmark.movie) %>
          <%= link_to "Remove", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } %>
        </li>
        <% end %>
      </ul>
    </div>
    <footer>
      <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
      <%= link_to "My lists", lists_path %>
      <%= link_to "All Movies", movies_path %>
    </footer>
</div>
