<div class="container">
  <h1><%= @list.name %></h1>
    <div>
      <ul>
        <% @list.bookmarks.each do |bookmark| %>
        <li>
          <%= link_to bookmark.movie.title, movie_path(bookmark.movie) %>
          <%= link_to "Remove", list_bookmark_path(bookmark), data: { turbo_method: :delete } %>
        </li>
        <% end %>
      </ul>
    </div>
    <footer>
      <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
      <%= link_to "My lists", lists_path %>
      <%= link_to "All Movies", movies_path %>
    </footer>
</div>
